<p>MPIHints 是<a href="/u/ceclinux">Cecil</a>搭建的论坛式网站，该网站主要的目的为帮助电脑系的学生交流，学习。</p>

<p>论坛搭建的代码在<a href="http://github.com/ceclinux/MPIHints">这里</a>,欢迎同学贡献(^o^)/~</p>

<p>联系<a href="src655@gmail.com">src655@gmail.com</a><img src="http://guo.lu/wp-content/uploads/2013/08/after_the_adventure_by_albertoarni-d5x98la.jpg" alt="http://www.qq.com" /></p>
