    <h1>MPIHints</h1>
    <p>sfasdfasfafdsafasfsf</p>

    <p><a class="btn btn-primary btn-lg" role="button" href='/reg'>加入</a></p>
</div>
</div><!-- /.container -->

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <div class="user-head"><img src="http://valuebets.net/images/demo/browser-pic-1.jpg" alt="..."><p>ceclinux</p></div>
            <span>湖人主场以110-99击败爵士，终结尴尬的6连败。因为湖人有六名后卫受伤无法缺战</span>
        </a>
    </div>
</div>

   <a href="https://github.com/ahmontero/bootstrap-calendar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div class="container">
      <div class="row">
        <div class="span4" id="calendar"></div>
      </div>
    </div> <!-- /container -->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30362552-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

