<div class="jumbotron">
    <h1>MPIHints</h1>
    <p>sfasdfasfafdsafasfsf</p>

    <p><a class="btn btn-primary btn-lg" role="button" href='/reg'>加入</a></p>
</div>
</div><!-- /.container -->

<div >
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <table>
                <tr>
                    <td><div class="user-head"><img src="http://valuebets.net/images/demo/browser-pic-1.jpg" alt="..."><p>ceclinux</p></div></td>
                    <td><span>湖人主场以110-99击败爵士，终结尴尬的6连败为湖人有六名后卫受伤无法缺战</span></td>
                </tr>
            </table>
        </a>
    </div>
</div>


