<form class="form-horizontal" method="post">
<div class="input-group">
  <span class="input-group-addon">标题</span>
  <input type="text" class="form-control" >
</div>
<div>
<textarea class="form-control" id="topic_content" name="content" placeholder="内容写不完？这儿还可以写..." rows="25"></textarea>
</div>
</form>

