<form id="target" class="form-horizontal" method="post">
    <div class="input-group">
        <span class="input-group-addon">标题</span>
        <input type="text" class="form-control" name="title" id="title" >
    </div>
    <div>
        <script src="/plugins/epiceditor/js/epiceditor.min.js"></script>
        <div id="epiceditor" name="epiceditor" ></div>
        <script>
            var opts = {
                container: 'epiceditor',
                textarea: null,
                basePath: 'plugins',
                clientSideStorage: true,
                localStorageName: 'epiceditor',
                useNativeFullscreen: true,
                parser: marked,
                file: {
                    name: 'plugins',
                    defaultContent: '',
                    autoSave: 100
                },
                theme: {
                    base: '/epiceditor/themes/base/epiceditor.css',
                    preview: '/epiceditor/themes/preview/preview-dark.css',
                    editor: '/epiceditor/themes/editor/epic-dark.css'
                },
                button: {
                    preview: true,
                    fullscreen: true,
                    bar: "auto"
                },
                focusOnLoad: false,
                shortcut: {
                    modifier: 18,
                    fullscreen: 70,
                    preview: 80
                },
                string: {
                    togglePreview: 'Toggle Preview Mode',
                    toggleEdit: 'Toggle Edit Mode',
                    toggleFullscreen: 'Enter Fullscreen'
                },
                autogrow: false
            }
            var editor = new EpicEditor(opts).load();
            $textarea = $('<input type="textarea" id="content" name="content" style="display:none">');

            $('#target').submit(function(event){
                event.preventDefault();
                $.post( "/post", { title: $('#title').val(), content: $(editor.getElement('previewer').body.innerHTML).html(), category: $('#category').val(),tag:$('#tag').val(),expire:$('#expire').val() } );
            })
            $('input#title').after($textarea);

            var markContent = $(editor.getElement('previewer').body.innerHTML).html();
        </script>
        <!--<textarea class="form-control"  name="content" id="content" placeholder="内容写不完？这儿还可以写..." rows="25"></textarea>-->

    </div>   
    <div>
        <table cellpadding="10">
            <tr>
                <td> <label>选择学科</label>
                </td>
                <td>
                    <select class="form-control" style="display:inline" id="category" name="category">
                        <% for(var i=0; i<categories.length; i++) { %>
                        <option value='<%= i %>'>
                        <%= categories[i] %>
                        </option>
                        <% } %>
                    </select>
                </td>
                <td>标签(tag)</td>
                <td>
                    <input type="text" class="form-control" id="tag" name="tag">
                </td>
            </tr>
            <script src="/javascripts/picker.js"></script>
            <script src="/javascripts/picker.time.js"></script>
            <script src="/javascripts/picker.date.js"></script>
            <link href="/stylesheets/default.css" rel="stylesheet">
            <link href="/stylesheets/default.date.css" rel="stylesheet">
            <tr>

                <td><label for="">过期</label></td>
                <td>
                    <input type="text" class="datepicker form-control" id="expire" name="expire">
                    <script>$('.datepicker').pickadate({
                        selectYears: true,
                        selectMonths: true
                    })
                    </script>
                </td>
            </tr>
        </table>
    </div>
    <div><button type="submit" class="btn btn-default " style="margin-left:auto;margin-right:auto">提交</button></div>
</form>

