<form method="post" action="/reg" style="width:970px">
    <div class="login" >
        <div class="login-screen">
            <div class="login-icon">
                <img src="../images/login/icon.png" alt="Welcome to Mail App">
                <h4>Welcome to <small>MPIHints</small></h4>
            </div>

            <div class="login-form">
                <div class="control-group">
<div class="tooltip fade top in" style="top: -99px; left: 0px; display:
    block;visibility:hidden"><div class="tooltip-arrow"></div><div
        class="tooltip-inner">4-10个字符</div></div>
                    <input type="text" class="login-field" name="username" placeholder="Enter your name" id="username"  style="width:100%">
                    <label class="login-field-icon fui-man-16" for="login-name"></label>
                </div>

                <div class="control-group">
                                        <input type="password" class="login-field" name="password" placeholder="Password" id="password" style="width:100%">
                    <label class="login-field-icon fui-lock-16" for="login-pass"></label>
                </div>
                <div class="tooltip fade bottom in"
                    style="visibility:hidden;margin-left:150px;right:99px;
                    left: 0px; display: block;"><div
                        class="tooltip-arrow"></div><div
                        class="tooltip-inner">8-14个字符</div></div>

<button type="submit" class="btn btn-default " style="margin-left:auto;margin-right:auto">注册</button>
</form>
            </div>
        </div>
    </div>

<!--<form class="form-horizontal" method="post" style="margin:15px;margin-left:auto;margin-right:auto;width:70%">-->
    <!--<div class="input-group input-group-lg" style="margin:15px">-->
        <!--<span class="input-group-addon">用户名</span>-->
        <!--<input type="text" class="form-control" placeholder="小于10个字母，数字，中文或组合" id="username" name="username">-->
        <!--</div>-->
    <!--<div class="input-group input-group-lg"  style="margin:15px">-->
        <!--<span class="input-group-addon">密码</span>-->
        <!--<input type="password" class="form-control" placeholder="小于15个字母，数字，中文或组合" id="password" name="password">-->
        <!--</div>-->
    <!--<div><button type="submit" class="btn btn-default " style="margin-left:auto;margin-right:auto">登录</button></div>-->
    <!--</form>-->
<script src='/javascripts/ensureInput.js'></script>
<script>
$(document).ready(function(event){
    setToolTip('input#username','div.tooltip.fade.top.in',/^\w{4,10}$/);
    setToolTip('input#password','div.tooltip.fade.bottom.in',/^\w{8,14}$/);
});
</script>
