<form id="target" class="form-horizontal" method="post">
<table cellpadding="10" style="margin-left:auto;margin-right:auto">
    <tr>
    <td>自定义头像</td>
        <td><div style=''>
        <a href="#" class="thumbnail" style="width:500px;height:500px;display: table-cell; vertical-align: middle; " >
            <img src="http://guo.lu/wp-content/uploads/2013/09/1a0d0cc43a178b4bba8467f6b484e06b.jpg" width="100px" style="margin-top:auto;margin-bottom:auto" />
        </a>
    </div></td>
    </tr>
    <tr>
        <td>昵称</td>
        <td><input type="text" class="form-control" id="nickname" name="nickname"></td>
    </tr>

    <tr>
        <td><div><button type="submit" class="btn btn-default " style="margin-left:auto;margin-right:auto">提交</button></div></td>
        <td></td>
    </tr>
</table>
    
    
</form>
