<form id="target" class="form-horizontal" method="post">
    <table cellpadding="10" style="margin-left:auto;margin-right:auto">
        <tr>
            <td>自定义头像</td>
            <td colspan="2"><div style=''>
                    <a href="#" class="thumbnail" style="width:500px;height:500px;display: table-cell; vertical-align: middle; " >
                        <img class="userhead" src="<%= imageUrl %>" style="margin-top:auto;margin-bottom:auto;max-width:700" />
                    </a>

            </div></td>
        </tr>
        <tr>
            <td>图片URL</td>
            <td>                
<div class="tooltip fade top in" style="top: 523px; left: 350px; display:
    block;visibility:hidden"><div class="tooltip-arrow"></div><div
        class="tooltip-inner">输入图片的url,暂时不支持本地的图片，建议使用方形的图片</div></div>
 
<input type="text" class="form-control" id="imageUrl"
                name="imageUrl" value=<%= imageUrl %> ></td>
            <td><a class="btn btn-primary btn-lg" id="updateButton" role="button">更新</td>

            </tr>
            <tr>
                <td>昵称</td>

                <td colspan="2">
                <div class="tooltip fade bottom in"
                    style="visibility:hidden;margin-left:150px;right:99px;
                    left: 0px; display: block;margin-top:40px"><div
                        class="tooltip-arrow" style="left:199px"></div><div
                        class="tooltip-inner"
                        style="margin-left:100px;margin-bottem:30px">长度在3到10个字符之间，推荐你的使用英文名字</div></div>

                    <input type="text" class="form-control"
                    id="nickname" name="nickname"
                    value=<%= nickname %> ></td>
            </tr>

            <tr>
                <td><div><button type="submit" class="btn btn-default " style="margin-left:auto;margin-right:auto" id="updateUser" name="updateUser">提交</button></div></td>
                <td></td>
            </tr>
        </table>


    </form>
    <script>
        $('#updateButton').click(function(){
            $('.userhead').attr('src',$('#imageUrl').val());
        })
    </script>
    <script src="/javascripts/ensureInput.js"></script>
    <script>
        setToolTip('input#imageUrl','div.tooltip.fade.top',/.*/);
        setToolTip('input#nickname','div.tooltip.fade.bottom.in',/^\w{3,10}$/);
    </script>
