/*右边的导航栏*/
.right-nav{
    float:right;
    width:30%;
    margin-right:2%;
    margin-left:2%;
}

/*分页器*/
.pagination{
    margin-left:25%;
}

/*右边框*/
.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e2e2e2;
}

/*发表帖子的头像*/
.thumbnail > .user-head > img{
    margin-left:0;
    display:inline;
    border-radius:40px;
    height:80px;
    width:80px;
    margin:10px 10px 0px 10px;
    box-shadow: 0 0 6px hsla(0,27%,42%,.5);
}

.thumbnail>.user-head>p{
    margin-bottom:0px;
    margin-left:12px;
}

/*发表的帖子*/
.col-md-3{
    width:100%;
}

/*介绍对齐*/
.container{
    margin-left:2%;
    margin-right:2%;
    width:65%;
}

.user-head{
    display:inline-table;
}

/*把footer放到中间*/
footer div{
    text-align:center;
}

form>div{
    margin:15px;
}

#topic_content{
    width:100%;   
}
/*取消nav有关的边框颜色*/
.navbar-inverse .nav > li > a{
    border:none !important;
}

/*取消nav有关的边框颜色*/
.navbar-inverse .navbar-brand{
    border:none;
}

/*取消nav有关的边框颜色*/
.navbar.navbar-inverse .navbar-form{
    border:none;
}

